*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    font-family: 'Roboto';
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 18px;
    background-image: url(./image/fond1.jpg);
    background-position: center;
    background-repeat: repeat-y;
    background-size:cover;
    color: #fff;
}
@media screen and (min-width:1024px){
nav{
    position: fixed;
    left: 0;
    width: 15%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    overflow-x: hidden;

}
nav #logo{
    top: 0;
    width: 100%;
    height: 300px;
    margin: 20px auto 50px auto;
}
nav #logo img{
    margin: 50px;
    height: 200px;
}
nav ul{
    width: auto;
    height: 100%;
    list-style: none;
}
    
nav ul li{
    margin: 35px 0;
    padding: 5px 15px;
    border: 1px solid transparent;
    font-size: 24px;
    transition: all 0.3s ease;
    cursor: pointer;
}
nav ul li:hover{
    border: 1px solid white;
    border-radius: 25px;
    height: fit-content;
    cursor: pointer;
}
nav ul li input{
    display: none;
}
#container{
    width: 85%;
    height: 90vh;
    margin-left: 15%;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#intro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: fit-content;
    padding: 25px;
}
#intro div{
    width: 80%;
    height: auto;
    text-align: right;
    padding: 25px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
}
#intro h1{
    width: 100%;
    height: auto;
    padding: 0 0 50px 0;
}
#propos{
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    /* margin: 40px auto; */
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
#propos div{
    width: 80%;
    height: auto;
    text-align: left;
    padding: 25px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
}
#propos h1{
    width: 100%;
    height: auto;
    padding: 0 0 50px 0;
}
#competence{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 90%;
    height: 250px;
    overflow-x: scroll;
}
#competence .comp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
    min-width: 175px;
    height: 175px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}
#competence .comp img{
    min-width: 125px;
    height: 125px;
    width: 125px;
    transition: all 0.3s ease;
}
#competence .comp img:hover{
    min-width: 140px;
    height: 140px;
    width: 140px;
}
#contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 75px;
    bottom: 0;
}
#contact #citation{
    font-style: italic;
}
#contact #citation span{
    font-size: 10px;
    
}
}



@media screen and (max-width:1023px) and (min-width:768px){
    body{
        height: 100vh;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: repeat-y;
    }
    nav{
        position: fixed;
        left: 0;
        width: 20%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        overflow-y: auto;
        background-color: rgba(0, 0, 0, 0.1);
    }
    nav #logo{
        top: 0;
        width: 100%;
        height: 300px;
        margin: 0 auto;
    }
    nav #logo img{
        margin-top: 50px;
        height: 175px;
    }
    nav ul{
        width: auto;
        height: auto;
        list-style: none;
        overflow-x: hidden;
    }
    nav ul li{
        margin: 35px 0;
        padding: 5px 15px;
        font-size: 20px;
        cursor: pointer;
        border: 1px solid transparent;
        transition: all 0.3s ease;
    }
    nav ul li:hover{
        border: 1px solid white;
        border-radius: 25px;
        height: fit-content;
    }
    #container{
        width: 80%;
        height: 100%;
        margin-left: 20%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    #intro{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        padding: 25px;
    }
    #intro div{
        width: 80%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 25px;
        border-radius: 25px;
    }
    #intro h1{
        width: 100%;
        height: auto;
    }
    #propos{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:fit-content;
        padding: 25px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
    #propos div{
        width: 80%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 25px;
        border-radius: 25px;      
    }
    #propos h1{
        width: 100%;
        height: auto;
    }
    #competence{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 90%;
        height: 250px;
        overflow-x: auto;
    }
    #competence .comp{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 20px;
        min-width: 150px;
        height: 150px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 25px;
    }
    #competence .comp img{
        min-width: 100px;
        height: 100px;
    }
    #contact{
        font-size: 14px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 80%;
        height: 100px;
        bottom: 0;
}
#contact #citation{
    font-style: italic;
}
#contact #citation span{
    font-size: 10px;
    
}
}
@media screen and (max-width: 767px){
    body{
        height: 100vh;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: repeat-y;
    }
    nav{
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        overflow-y: auto;
        background-color: rgba(0, 0, 0, 0.1);
    }
    nav #logo{
        top: 0;
        width: 100%;
        height: auto;
        margin: 0 auto;


    }
    nav #logo img{
        margin-top: 50px;
        height: 75px;
    }
    nav ul{
        width: auto;
        height: auto;
        list-style: none;
        display: none;
    }
    nav ul li{
        padding: 60px 0;
    }
    #container{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    
    #intro{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:min-content;
        padding: 100px 0 50px 0;
    }
    #intro div{
        width: 80%;
        height: auto;
    }
    #intro h1{
        width: 100%;
        height: auto;
        margin: 50px 0 50px 0;
    }
    #propos{
        padding: 25px 0 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:min-content;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
    #propos div{
        width: 80%;
        height: auto;
        
    }
    #propos h1{
        margin: 50px 0 50px 0;
        width: 100%;
        height: auto;
    }
    #competence{
        display: flex;
        align-items: center;
        /* flex-wrap: nowrap; */
        flex-direction: row;
        width: 90%;
        height:200px;
        overflow-x: auto;
    }
    #competence .comp{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        min-width: 125px;
        height: 125px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 25px;
    }
    #competence .comp img{
        min-width: 75px;
        height: 75px;
    }
    #contact{
        border-top: 1px solid #fff;
        font-size: 14px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height:150px;
    }
    #contact #citation{
        font-style: italic;
        margin: 20px;
    }
    #contact #citation span{
        font-size: 10px;
        
    }
    #contact #info {
        margin-bottom: 20px;
    }
}
